@keyframes borderAnimation {
    0% {
        background-color: #00C176;
        background-size: 0 13px,
        13px 0,
        0 13px,
        13px 0;
    }
    25% {
        background-color: #88C100;
        background-size: 100% 13px,
        13px 0,
        0 13px,
        13px 0;
    }
    50% {
        background-color: #FABE28;
        background-size: 100% 13px,
        13px 100%,
        0 13px,
        13px 0;
    }
    75% {
        background-color: #FF8A00;
        background-size: 100% 13px,
        13px 100%,
        100% 13px,
        13px 0;
    }
    100% {
        background-color: #ff3c00;
        background-size: 100% 13px,
        13px 100%,
        100% 13px,
        13px 100%;
    }
}

.timer {
    background-color: #00C176;
    position: fixed;
}

.timer-animation {
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #333 100%, #333 100%),
    linear-gradient(to bottom, #333 100%, #333 100%),
    linear-gradient(to right, #333 100%, #333 100%),
    linear-gradient(to bottom, #333 100%, #333 100%);
    background-size: 100% 13px, 13px 100%, 100% 13px, 13px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    animation-name: borderAnimation;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.clock {
    font-size: 2rem;
}

.subtitle {
    font-size: 4vw;
}